.grid{
  display: grid;
  justify-items: center;
  font-family: sans-serif;
}

.grid>div{
  min-height: 5rem;
}

.hidden{
  display: none;
}

#search_page{
  font-size: 5rem;
}

#player{
  height: 5rem;
  width: 5rem;
  background-color: black;
}

#keyboard{
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;	
  width: 100%;
}

#results{
  grid-template-columns: auto auto auto;
}

